{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{{ block.super }}
<div class="container">
     <ol class="breadcrumb my-4">
       <li class="breadcrumb-item active">Saccos</li>
     </ol>
     <table class="table">
       <thead class="thead-inverse">
         <tr>
           <th>Sacco</th>
           <th>Messages</th>
           <th>Issues</th>
           <th>Vehicles</th>
         </tr>
       </thead>
       <tbody>
         {% for sacco in saccos %}
           <tr>
             <td>
               {{ sacco.name }}
               <small class="text-muted d-block">{{ sacco.description }}</small>
             </td>
             <td class="align-middle">0</td>
             <td class="align-middle">0</td>
             <td class="align-middle">4</td>
             <td></td>
           </tr>
         {% endfor %}
       </tbody>
     </table>
   </div>
    </table>



{% endblock %}
