{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Sacco</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Sacco</th>
          <th>Messages</th>
          <th>Issues</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        {% for sacco in saccos %}
          <tr>
            <td>
              {{ sacco.name }}<br>
              <small style="color: #888">{{ sacco.description }}</small>
            </td>
            <td>0</td>
            <td>0</td>
            <td>None</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>



{% endblock %}
