{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{{ block.super }}
<div class="container">
     <ol class="breadcrumb my-4">
       <li class="breadcrumb-item active">Saccos</li>
     </ol>
     <table class="table">
       <thead class="thead-inverse">
         <tr>
           <th>Sacco</th>
           <th>Logo</th>
           <th>ID</th>
           <th>Issues</th>

         </tr>
       </thead>
       <tbody>
         {% for sacco in saccos %}
           <tr>
             <td>
               {{ sacco.name }}
               <small class="text-muted d-block">{{ sacco.description }}</small>
             </td>
             <td class="align-middle"><img class="img-responsive" style="height: 50px; width: 50px;" src="{{ sacco.sacco_logo.url }}" alt=""></td>
             <td class="align-middle">{{ sacco.id }}</td>
             <td class="align-middle">0</td>

             <td></td>
           </tr>
         {% endfor %}
       </tbody>
     </table>
   </div>
    </table>


    {# SUPERVISOR LIST #}

    <div class="container">
         <ol class="breadcrumb my-4">
           <li class="breadcrumb-item active">Supervisors</li>
         </ol>
         <table class="table">
           <thead class="thead-inverse">
             <tr>
               <th>Supervisor</th>
               <th>Avatar</th>
               <th>Messages</th>
               <th>Id</th>
               <th>Vehicles</th>
             </tr>
           </thead>
           <tbody>
             {% for supervisor in supervisors %}
               <tr>
                 <td>
                   {{ supervisor.first_name }}/{{ supervisor.last_name }}
                   <small class="text-muted d-block">{{ supervisor.sacco_base }}</small>
                 </td>
                 <td class="align-middle"><img class="img-responsive" style="height: 50px; width: 50px;" src="{{ supervisor.profile_picture.url }}" alt=""></td>
                 <td class="align-middle">0</td>
                 <td class="align-middle">{{ supervisor.id_number }}</td>
                 <td class="align-middle">4</td>
                 <td></td>
               </tr>
             {% endfor %}
           </tbody>
         </table>
       </div>
        </table>



{% endblock %}
